Library/
Temp/
Logs/
UserSettings/
.vs/Augmented Puzzle/FileContentIndex/6bddbdbd-c1de-4f2b-b86f-95bec889cc3b.vsidx
.vs/Augmented Puzzle/FileContentIndex/be098ca3-1d0c-44c2-b5de-2ee40899b2cc.vsidx
Packages/com.ptc.vuforia.engine-11.2.4.tgz
.vs/
